- semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form|

  - #= devise_error_messages!
  = form.error_messages :header_message => "#{pluralize(form.object.errors.count, 'error')} prevented you from joining"

  = form.inputs do

    = form.input :first_name
    = form.input :last_name

    = form.input :dst, :label => "Default Routing Phone #", :hint => "The default routing number for your company (format like: 123-123-1234)"

    = form.input :email

    = form.input :password
    = form.input :password_confirmation

  = form.buttons do
    = form.commit_button t('.create')
    = form.cancel_button root_url
